#g-topbar {
	background-color: $topbar-background;
	color: $topbar-text-color;
    padding: ($section-padding - 1rem) 0;
    position: relative;
    z-index: 10;  
    
    a {
        color: fadeout($topbar-text-color, 0%);
        font-size: $h6-font-size;

        &:hover {
            color: fadeout($topbar-text-color, 20%);
        }
    }
    
    @include breakpoint(mobile-only) {
        display: none;
    }
}