<div class="top-bar-contact-info">
  <ul class="d-flex mb-0 pl-0 justify-content-end">
    <li class="d-flex mr-lg-4 mr-md-2 align-items-center">
      <img class="mr-3" src="images/financio/locate.svg">
      <div class="contact-block">
        <span>Find Us</span>
        <p class="mb-0">24 Oval Street, New York</p>
      </div>
    </li>
    <li class="d-flex mr-lg-4 mr-md-2 align-items-center">
      <img class="mr-3" src="images/financio/call.svg">
      <div class="contact-block">
        <span>Call Us</span>
        <p class="mb-0">05 98745 61230</p>
      </div>
    </li> 
    <li class="d-flex align-items-center">
      <img class="mr-3" src="images/financio/web.svg">
      <div class="contact-block">
        <span>Mail Us</span>
        <p class="mb-0">suport@email.com</p>
      </div>
    </li>     
  </ul>
</div>