<div class="top-bar-contact-info">
  <ul class="d-flex mb-0 pl-0">
    <li class="d-flex mr-lg-4 mr-md-2">
      <img style="width:20px;height:20px;" class="mr-2" src="images/financio/locate.svg">
      24 Oval Street, New York
    </li>
    <li class="d-flex mr-lg-4 mr-md-2">
      <img style="width:20px;height:20px;" class="mr-2" src="images/financio/call.svg">
      05 98745 61230
    </li> 
    <li class="d-flex">
      <img style="width:20px;height:20px;" class="mr-2" src="images/financio/web.svg">
      suport@email.com
    </li>     
  </ul>
</div>