@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(http://localhost/paidplugins/media/plg_system_easylocalgooglefonts/fonts/MwQ5bhbm2POE2V9BOA.ttf) format('truetype');
}
